<nav aria-label="Page navigation" class="mt-4">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link bg-secondary text-light cursor-pointer" (click)="prevPage()">Previous</a>
      </li>
  
      <li class="page-item" *ngFor="let page of getPages()">
        <a class="page-link bg-secondary text-light cursor-pointer" 
           [class.active]="page === currentPage" 
           (click)="goToPage(page)">{{ page }}</a>
      </li>
  
      <li class="page-item">
        <a class="page-link bg-secondary text-light cursor-pointer" (click)="nextPage()">Next</a>
      </li>
    </ul>
  </nav>