<div class="container-fluid bg-dark text-light py-4 p-5" style="min-height: 100vh;">
  <app-header 
    [currentPage]="currentPage">
  </app-header>
  <app-search-characters-by-name
  (emitCharacterSearched)="updateCharacterList($event)"
  (emitInfoMessage)="characterNotFound($event)">
  </app-search-characters-by-name>
  
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-4">
      <div class="col" *ngFor="let character of characters">
        <div class="card shadow-lg" [routerLink]="['/characters', character.id]">
          <img src="{{character.image}}" class="card-img-top" alt="{{character.name}}">
          <div class="card-body">
            <p class="card-text text-light">{{ character.name }}</p>
          </div>
        </div>
      </div>
    </div>
    
    <div *ngIf="infoMessage" class="alert alert-warning mt-3">
      <p> {{ infoMessage }}</p>
    </div>


    <app-paginator 
      *ngIf="showPaginator" 
      [currentPage]="currentPage" 
      [totalPages]="totalPages" 
      (pageChange)="loadCharacters($event)">
  </app-paginator>
</div>